---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "Dusk Control: Hybrid Brightness Control for Windows" } =
  Astro.props;

const baseUrl = import.meta.env.BASE_URL;
const base = baseUrl.endsWith("/") ? baseUrl : baseUrl + "/";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={`${base}favicon.ico`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-white bg-[#000109]">
    <slot />
  </body>
</html>
