@import "tailwindcss";

@theme {
  --font-sans: "Segoe UI";
  --color-primary: #5b5ff8;
  --color-primary-border: #307cf8;
  --color-secondary: #202020;
  --color-secondary-border: #3d3d3d;
}

@layer base {
  a {
    @apply underline;
  }
}
